<h1>Semantics Product Search</h1>
<%= form_tag('/semantics') do %>
  <div class="form-group">
    <label for="inputProduct">Enter Product to Search</label>
    <input type="text" class="form-control" id="inputProductName" name="productName" placeholder="Product Name">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
  <%= link_to 'View Cached Search', product_caches_path, class: "btn btn-default" %>
<% end %>

<section id="resultContainer" class="hidden">
</section>