<h1>Semantics Product Search</h1>
<%= form_tag('/semantics', remote: true) do %>
  <div class="form-group">
    <label for="inputProduct">Enter Product to Search</label>
    <input type="text" class="form-control" id="inputProductName" name="productName" placeholder="Product Name">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
<% end %>

<section id="resultContainer" class="hidden">
</section>