.hidden {
  display: none;
}

.limit_height {
  max-height: 100px;
  overflow-y: scroll;
}

.limit_width {
  max-width: 300px;
}

.padding {
  padding: 20px;
}

.padding-left {
  padding-left: 20px;
}

.margin-right {
  margin-right: 50px;
}